<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dreamer-index </title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
    <style>
        .md {
            margin-top: 100px;
            text-align: center;
        }

        .button-success {
            background: #80bd01;
            border-radius: 4px;
        }

        .hello {
          color: black;
          font-size: 20px;
        }

    </style>
</head>
<body>
    <div class="md">
        <div class="hello">
            Hello Dreamer <a style="color: #2d9fff"> {{username}}</a>
        </div>
        <br>
        <div>
            <a href="/todo/index" style="border-radius: 14px">
                <img src="/static?file=pic/pre.jpg" >
            </a>
        </div>
    </div>
</body>
</html>